/* .team-nav {
  height: 100px;
} */

/* #team {
  margin-top: -10%;
} */
.section-heading {
  color: black;
}
.navbar {
  padding: 0;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  width: 230px;
  height: 230px;
  border: 4px solid white;
  border-radius: 100%;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}

.social-buttons {
  display: inline-block;
  background-color: #03203c;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.social-buttons:hover {
  color: yellow;
}

.team-text {
  padding: 0 10%;
}
.team-footer {
  background-color: #cad5e2;
}
